@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    color: $white;
    padding: 1.5rem;

    &__title {
        @include page-header;
    }
}
